body {
    font-family: calibri;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    background-image: url(../images/Back.jpg);
}

.profile-main {
    width: 750px;
    margin: 0 auto;
    background-image: url(../images/Ground.png);
    border: 1px solid #ffffff;
    padding-bottom: 10px;
}

.profile-header {
    height: 200px;
    width: 100%;
    border-bottom: 2px solid #E2F3FB;
}

.self-detail {
    position: relative;
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

.self-image {
    float: left;
    position: relative;
    width: 23%;
    height: 135px;
}

.self-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 35px;
}

.self-data {
    float: left;
    width: 46%;
    padding-left: 27px;
    margin-bottom: 20px;
}

.self-data h2 {
    margin-bottom: 0px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 600;
}

.self-data p {
    margin-top: 0px;
    font-size: 12px;
    color: #b1b1b1;
}

.self-data p {
    font-size: 12px;
    color: #b1b1b1;
}

.tab-panel-main {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    margin-top: 10px;
}

ul.tabs li {
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #E2F3FB;
    cursor: pointer;
    background: #FAFBFB;
}

ul.tabs li:last-child {
    border-right: 2px solid #E2F3FB;
}

ul.tabs li:first-child {
    border-left: 2px solid #E2F3FB;
}

ul.tabs li.current {
    background: #474747;
    color: #fff;
    font-weight: 600;
}

.tab-content {
    display: none;
    padding: 15px 5px;
}

.tab-content.current {
    display: inherit;
}

#Basic-info {
    height: 210px;
    width: 110%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

.profile-box {
    float: left;
    width: 46%;
    border: 1px solid #ededed;
    border-radius: 4px;
}

.detail-box {
    float: right;
    width: 42%;
    margin-left: 50px;
    border: 1px solid #ededed;
    padding: 13px;
    border-radius: 4px;
}

.profile-box .heading {
    padding: 10px 0px 10px 10px;
}

.profile-box .heading p {
    margin: 0px;
    font-weight: 600;
    font-size: 13px;
}

.profile-box .desc {
    padding: 10px 10px 10px 10px;
    text-align: justify;
    color: #808080;
    font-size: 13px;
}

.detail-box {
    padding: 10px;
    font-size: 13px;
}

.detail-box p {
    font-weight: 600;
    margin: 0px;
    font-size: 13px;
}

.detail-box .ul-first {
    padding: 0px;
    list-style: none;
    float: left;
    color: #808080;
}

.detail-box .ul-second {
    float: left;
    list-style: none;
    color: #a7a7a7;
}

#Edu-info {
    height: 210px;
    float: left;
    padding-right: 0;
    padding-left: 0;
}

.Edu-box-main h2 {
    margin: 0;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 25px;
    color: #969696;
}

.Edu-box-main h2 i {
    color: #42A8BF;
}

.Edu-box-main {
    float: left;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding: 10px 0px;
}

.Edu-box {
    width: 38%;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #E0E0E1;
    padding: 10px;
}

.Edu-box:nth-of-type(2) {
    margin-left: 0px;
    margin-right: 20px;
}

.Edu-box:last-child {
    margin-left: 0px;
    margin-right: 20px;
}

.Edu-box h5 {
    margin: 0;
    font-weight: normal;
    font-weight: 600;
}

.Edu-box h5 span {
    color: #42A8BF;
    font-size: 15px;
}

.footer,
.footer strong {
    margin-top: 100px;
    text-align: center;
}

.footer p {
    margin-bottom: 0px;
}

.footer-box {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid #939393;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.footer-box:last-child {
    margin-right: 0px;
}

.footer-box i {
    line-height: 50px;
    font-size: 30px;
}

.footer-box .fa-facebook {
    color: #365597;
}

.footer-box .fa-twitter {
    color: #01B0F4;
}

.footer-box .fa-steam {
    color: #000638;
}